/* footBox.css */

#footBox { width:100%; height:600px; background-color: #888;
  box-sizing: border-box; padding-top:50px;}

.contactBox { width:80%; height:500px; margin:auto; 
  background-color: #fff;}
  